
/* 
 CSS DE INICIO
*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #3254d1;
    padding: 10px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header nav{
    background-color: #3254d1;
    overflow:hidden;
    width: 100%;
  }
  header nav ul{
    list-style: none;
  right: 1%;
  }
  header nav ul li{
    float:left;
   
  }
  header nav ul li a{
    padding:10px 20px;
    display:block;
    color:#ffffff;
    text-decoration: none;
  }
  header nav ul li a:hover{
    background:gray;
  }

.Logotipo img {
    width: 100px;
    height: auto;
    position: fixed;
}

.menu_inicio {
    list-style: none;
    display: left;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    color: white;
    text-decoration: none;
}

.h1_inicio {
    color: #333;
    margin-top: 10px;
    text-align: center;
}

.p_inicio {
    color: #666;
}
/*
CSS DEL FOOTER
*/

footer {
    background-color: #3254d1;
	width: max-content;
	width: 100%;
    padding: 10px;
   display: grid;
   justify-content: center;
   align-content: center;
   grid-template-columns: repeat(4,100px);
   gap: 20px;
   
}
.youtube{
    width: 50px;
    height: 50px;

   text-align: center;
   cursor: pointer;
   background-image: url('https://cdn.icon-icons.com/icons2/2248/PNG/512/youtube_icon_136006.png');
   background-size: cover;
   background-position: center;
   transition: transform 0.3s ease-in-out;
   transition: background-image 0.3s ease-in-out;

}
.youtube:hover{
    transform:scale(1.1);
    background-image: url('https://cdn-icons-png.flaticon.com/512/174/174883.png') ;

}
.instagram{
    width: 40px;
    height: 40px;
    margin-top: 5px;

   text-align: center;
   cursor: pointer;
   background-image: url('https://cdn-icons-png.flaticon.com/512/747/747393.png');
   background-size: cover;
   background-position: center;
   transition: transform 0.3s ease-in-out;
}
.instagram:hover{
    transform:scale(1.1);
    background-image: url('https://img.freepik.com/iconos-gratis/instagram_318-566741.jpg');
}
.twitter{
    width: 40px;
    height: 40px;
    margin-top: 5px;

   text-align: center;
   cursor: pointer;
   background-image: url('https://img.freepik.com/iconos-gratis/gorjeo_318-566817.jpg');
   background-size: cover;
   background-position: center;
   transition: transform 0.3s ease-in-out;
}
.twitter:hover{
    transform:scale(1.1);
    background-image: url('https://img.freepik.com/iconos-gratis/gorjeo_318-674515.jpg');
}
.facebook{
    width: 50px;
    height: 50px;

   text-align: center;
   cursor: pointer;
   background-image: url('https://cdn3.iconfinder.com/data/icons/glypho-free/64/logo-facebook-512.png');
   background-size: cover;
   background-position: center;
   transition: transform 0.3s ease-in-out;
}
.facebook:hover{
    transform:scale(1.1);
    background-image: url('https://img.freepik.com/iconos-gratis/facebook_318-187574.jpg');
}




.menu_footer {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 0;
}

.menu_footer li {
    margin-right: 20px;
    color: white;
    text-decoration: none;
}
.menu_inicio, .menu, header nav ul{
    position: fixed;
    width: 100%;
    bottom: 91%;
    background-color: #3254d1;
    padding: 10px;
    color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;

}
/* 
 CSS DE GALERIA
*/

.h1_galeria{
    text-align: center;
     
}

/*
CDDYyswhweoh 
*/
